/* intro part */
.intro {
    /* margin-left: 3rem; */
    margin-top: 3.8rem;
    display: flex;
}

@media only screen and (max-width:600px) {
    .intro {
        margin-top: 2.3rem;
    }
}

/* location note */
.location {
    transform: rotate(9deg);
    scale: 0.9;
    position: absolute;
    right: 20%;
    top: 7.2rem;
    z-index: -5;
}

.location .decoration-dot {
    left: 21rem;
}

@media only screen and (max-width:600px) {
    .location {
        top: 0;
        right: 3rem;
        width: 20rem;
        transition: all 0.5s ease-in;
    }
    .location p {
        padding: 1rem 2rem 2rem 4rem;
    }
}

/* contact note */
.note-contact {
    position: absolute;
    padding-left: 2rem;
    padding-top: 5rem;
    top: 10rem;
    right: -11rem;
    transform: rotate(-18deg);
    transition: all 0.5s ease-in-out;
}

.note-contact:hover, .note-contact:active {
    right: -5rem;
    transform: rotate(-20deg);
    transition: all 0.3s ease-out;
}

.note-contact .heading {
    color:#3751a1;
}

.note-contact p {
    padding-bottom: 1rem;
}

@media only screen and (max-width:800px) {
    .note-contact {
        z-index: -2;
        transition: all 1s ease-out;
    }
}

@media only screen and (max-width:700px) {
    .note-contact {
        transform: scale(0) rotate(-18deg);
        transition: all 1s ease-out;
    }
}

.contact-note-sign {
    font-family: 'Pangolin', cursive;
    line-height: 2rem;
    color: #C65050;
    letter-spacing: 0.1rem;
    position:absolute;
    right: 8rem;
    bottom: 8rem;
}

/* animation section */
.animation .intro {
    margin-top: 3rem;
}

.animation video, .animation img {
    height: 14.9rem;
    width: auto;
    display: inline-block;
    border: dashed 1px #949494;
    border-radius: 0.1rem;
}
@media only screen and (max-width:600px) {
    .animation video, .animation img {
        height: 9rem;
    }
    .animation .intro {
        margin-top: 3.8rem;
    }
}

