/***
* 4 General Layout Template, including body, left side navigation and main
***/

html{
    background-color: #EFEFEF;
    padding: 20px 30px;
    padding-top: 15px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -11;
}

body {
    width: 100%;
    height: 100%;
    border: 2px solid #97b3c2;
    background-color: #F4F1EC;
    position: relative;
    box-shadow: 8px 8px #D9D9D9;
    overflow: scroll;
    z-index: -10;
}

@media only screen and (max-width:700px) {
    html {
        padding: 3rem 10px;
        padding-top: 15px;
    }
    body {
        box-shadow: 5px 5px #D9D9D9;
    }
}

.wrapper-for-bg {
    background-color: #F4F1EC;
    /* background-image: url("../asset/images/bg_line.png"); */
    background-image: repeating-linear-gradient(transparent,
            transparent calc(3rem - 2px),
            #C3D5DF calc(3rem - 2px),
            #C3D5DF 3rem);
    background-size: 100% 3rem;
    background-repeat: repeat-y;
    /* background-position-y: 1rem; */
    background-position-y: 2.5rem;

    
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;

    z-index: -9;
}

/* left navigation */
header {
    width: 20vw;
    height: 100%;
    position: fixed;
}

nav {
    padding-top: 11.6rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

nav .link-nav {
    padding-left: 30%;
}

@media only screen and (max-width:800px) {
    nav .link-nav {
        padding-left: 0.5rem;
    }
}

@media only screen and (max-width:600px) {
    header {
        transition: height 0.5s linear;
    }
    nav {
        padding-left: 0.3rem;
    }
    nav .link-nav {
        padding-left: 0;
    }
}

.menu-toggle {
    display: block;
    text-align: center;
    margin: 0 auto;

    position:fixed;
    left: 0;
    top: 1.035rem;
    width: calc(100% - 24px);
    margin: 0 12px;
    line-height: 2.5rem;
    
    background-color: #F4F1EC;
    border-bottom: solid 2px #C3D5DF;
    z-index: 1000;

    /* style */
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    color:#b7854c;
}

.wrapper-for-bg {
    overflow-x: hidden;
}

/* for js */
.hidden, #nav-toggle.hidden {
    visibility: hidden;
    display: none;
}

/* when width<700, header has a special layout */
header.mobile-menu {
    width: 80%;
    height: 90%;
    /* set background */
    background-color: #F4F1EC;
    background-image: url("../asset/images/bg_line.png");
    background-size: 100% 3rem;
    background-repeat: repeat-y;
    background-position-y: 1rem;
    z-index: 995;
    transition: width 0.5s ease-out, box-shadow 0.5s ease-out;
    border-right: solid 2px #939ebe;
    border-bottom: solid 2px #939ebe;
    box-shadow: 5px 7px 4px 0px rgba(198, 188, 188, 0.5);
    
}
header.mobile-menu .link-nav {
    padding-left: 30%;
}

/* decoration dot on left side */
.decoration-dot {
    width: 2rem;
    height: 2rem;
    background-color: #cacbd5;
    border-radius: 50%;
    position: absolute;
    left: 3rem;
}

.dot-1 {
    top: 5rem;
}

.dot-2 {
    bottom: 5rem;
}

/* right side - main content  */
main {
    width: 80%;
    min-height: 100%;
    margin-left: 20vw;
    margin-right: 0;
    border-left: 5px double #E19C9C;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow-x: hidden;
}

@media only screen and (max-width:700px) {
    header {
        height: 0;
    }
    .decoration-dot {
        display: none;
    }
    main {
        margin-left: 0;
        width: 100vw;
        border-left: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

main > h1 {
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
    padding-left: 2rem;
    background-color: #F4F1EC;
}

@media only screen and (max-width:700px) {
    main > h1 {
        margin-top: 3.8rem;
        margin-bottom: 1.8rem;
        padding-left: 2rem;
        background-color: #F4F1EC;
    }
}

/* h1 Combined with decoration line */
.title {
    padding-top: 3rem;
    margin-top: 0.3rem;
    padding-left: 3.5rem;
    margin-left: 0;
    background-color: #F4F1EC;
    z-index: 10;
    /* border: solid 4px #731E00; */
}

.title h1 {
    line-height: 4.5rem;
}

.title .title-line {
    display: inline-block;
    position: relative;
    top: -2rem;
}

@media only screen and (max-width:863px) {
    .title .title-line{
        width: 80vw;
        overflow: hidden;
    }
}

@media only screen and (max-width:600px) {
    .title .title-line{
        display: block;
        width: 80vw;
        left: -4rem;
        overflow: hidden;
    }
}

.intro {
    display: flex;
}

/* bottom height shape*/
.bottom-empty-area {
    width: 100%;
    height: 7.5rem;
}