/*** Structure
* 1 Normal settings
* 2 Elements, same order as style guide
* 3 Combined Elements
* 4 General Layout Template, including body, left side navigation and main
 ***/

 /* 1 Normal settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    line-height: 3rem;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 3rem;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* 2 Elements */

/* links */
.link-nav {
    display: inline-block;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #847952;
    white-space: nowrap;
}

.link-nav:active, .link-nav:hover {
    color: #C24429;
}

.current-nav {
    color: #C24429;
}

/* inline link */
.text-link {
    display: inline;
    color: #E28A24;
}

.text-link:focus, .text-link:hover {
    color: #e23124;
    text-decoration: underline;
}


/* headings */
h1 {
    font-size: 3.5rem;
    font-weight: normal;
    color: #363F48;
    letter-spacing: 0.5rem;
    line-height: 5.9rem;
}

h2 {
    color: #1F40B8;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    font-weight: normal;
    line-height: 3rem;
}

.h3-title h3 {
    display: inline-block;
}

.arrow {
    color: #9E9E9E;
    font-size: 1.3rem;
    padding-right: 0.75rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    color: #E28A24;
}

/* paragraphs */

.paragraph {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 3rem;
    color: #3A4E80;
}

.paragraph-large {
    line-height: 3rem;
    color: #272727;
    letter-spacing: 0.1rem;
}

.paragraph-large span {
    color: #1F429B;
}

.impo-text {
    color:#1F429B;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: 'Pangolin', cursive;
    line-height: 3rem;
}

.impo-text span {
    color: #E28A24;
}


/* 3 Combined Elements */

/* notes */
/* a small note */
.note-small {
    background-color: #F5E3D4;
    width: 25rem;
    height: 5rem;
    color: #836253;
    position: relative;
}
.note-small p {
    padding: 1.2rem 4rem;
    line-height: 1.4rem;
}
.note-small .decoration-dot {
    width: 1rem;
    height: 1rem;
    background-color: #F4F1EC;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 1rem;
}

/* a medium note */
.note-medium {
    width: 20rem;
    height: 20rem;
    background: #FFE7AA;
    box-shadow: 3px 4px 4px 0px rgba(198, 188, 188, 0.25);
    padding: 5rem;
}

.note-medium-text {
    font-family: 'Pangolin', cursive;
    line-height: 2rem;
    color: #616369;
    letter-spacing: 0.1rem;
}

/* project element */
.project {
    margin-top: 2.7rem;
    /* margin-left: 2rem; */
    display: flex;
    gap: 7vw ;
    flex-wrap: wrap;
}

.project-title{
    line-height: 3rem;
    position: relative;
}
.project-tag {
    font-size: 1.25rem;
    color: #413E3B;
    letter-spacing: 0.3rem;
    padding-left: 1rem;
    position: relative;
}
.tag-line {
    display: inline-block;
    width: 5rem;
    height: 1.5px;
    background-color: #D66767;
    position: absolute;
    left: 0.7rem;
    bottom: 0;
}

.project-title h2{
    display: inline-block;
    padding-left: 1rem;
}

.project-title-highlight {
    background-color: #FFE7AA;
    width: 100%;
    height: 1.5rem;
    position: absolute;
    bottom: 0.8rem;
    z-index: -3;
}

.project .paragraph {
    width: 20rem;
    padding-left: 1rem;
}

/* project - right side of photo */
.project-photo {
    position: relative;
    transform-origin: top center;
    z-index: 2;
}
.project-photo:hover {
    animation-play-state:paused;
}

@keyframes photo-wave {
    from {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(10deg);
    }
}

.image-wrapper {
    padding: 0.4rem 0.3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid black;
    display: flex;
    box-shadow: 0.3rem 0.2rem rgb(100,100,100,0.3);
    transform: translateY(2rem) rotate(5.3deg);
    transition: all 0.5s ease-in-out;
    z-index: 1;
    position: relative;
}
.image-wrapper img {
    width: 16rem;
    border-radius: 0.35rem;
    border: 1px solid black;
}

.image-wrapper:hover {
    transform: scale(1.15);
    box-shadow: 0.8rem -0.4rem rgba(250, 199, 143, 0.8);
    transition: transform 0.5s ease-out, box-shadow 0.6s ease-out;
    z-index: 6;
}

.tape {
    width: 1.5rem;
    height: 3.5rem;
    background-color: #F5E3D4;;
    border: 1px solid #000;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 8.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .row-right {
    margin-left: 2rem;
}



/* 4 General Layout Template, left side navigation and main */

html{
    background-color: #EFEFEF;
    padding: 20px 30px;
    padding-top: 15px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -11;
}

body {
    width: 100%;
    height: 100%;
    border: 2px solid #97b3c2;
    background-color: #F4F1EC;
    position: relative;
    box-shadow: 8px 8px #D9D9D9;
    overflow: scroll;
    z-index: -10;
}

@media only screen and (max-width:700px) {
    html {
        padding: 25px 10px;
        padding-top: 15px;
    }
    body {
        box-shadow: 5px 5px #D9D9D9;
    }
}

.wrapper-for-bg {
    background-color: #F4F1EC;
    background-image: url("../asset/images/bg_line.png");
    background-size: 100% 3rem;
    background-repeat: repeat-y;
    background-position-y: 1rem;
    
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;

    z-index: -9;
}

/* left navigation */
header {
    width: 20vw;
    height: 100%;
    position: fixed;
}

nav {
    padding-top: 11.6rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

nav .link-nav {
    padding-left: 30%;
}

@media only screen and (max-width:800px) {
    nav .link-nav {
        padding-left: 0.5rem;
    }
}

@media only screen and (max-width:600px) {
    header {
        transition: height 0.5s linear;
    }
    nav {
        padding-left: 0.3rem;
    }
    nav .link-nav {
        padding-left: 0;
    }
}

.menu-toggle {
    display: block;
    text-align: center;
    margin: 0 auto;

    position:fixed;
    left: 0;
    top: 1.035rem;
    width: calc(100% - 24px);
    margin: 0 12px;
    line-height: 2.5rem;
    
    background-color: #F4F1EC;
    border-bottom: solid 2px #C3D5DF;
    z-index: 1000;
}

.wrapper-for-bg {
    overflow-x: hidden;
}

/* for js */
.hidden, #nav-toggle.hidden {
    visibility: hidden;
    display: none;
}

/* when width<700, header has a special layout */
header.mobile-menu {
    width: 80%;
    height: 90%;
    /* set background */
    background-color: #F4F1EC;
    background-image: url("../asset/images/bg_line.png");
    background-size: 100% 3rem;
    background-repeat: repeat-y;
    background-position-y: 1rem;
    z-index: 995;
    transition: width 0.5s ease-out, box-shadow 0.5s ease-out;
    border-right: solid 2px #939ebe;
    border-bottom: solid 2px #939ebe;
    box-shadow: 5px 7px 4px 0px rgba(198, 188, 188, 0.5);
    
}
header.mobile-menu .link-nav {
    padding-left: 30%;
}

/* decoration dot on left side */
.decoration-dot {
    width: 2rem;
    height: 2rem;
    background-color: #cacbd5;
    border-radius: 50%;
    position: absolute;
    left: 3rem;
}

.dot-1 {
    top: 5rem;
}

.dot-2 {
    bottom: 5rem;
}

/* right side - main content  */
main {
    width: 80%;
    min-height: 100%;
    margin-left: 20vw;
    margin-right: 0;
    border-left: 5px double #E19C9C;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow-x: hidden;
}

@media only screen and (max-width:700px) {
    header {
        height: 0;
    }
    .decoration-dot {
        display: none;
    }
    main {
        margin-left: 0;
        width: 100vw;
        border-left: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

main > h1 {
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    padding-left: 2rem;
    background-color: #F4F1EC;
}

/* h1 Combined with decoration line */
.title {
    padding-top: 3rem;
    margin-top: 0.3rem;
    padding-left: 3.5rem;
    margin-left: 0;
    background-color: #F4F1EC;
    z-index: 10;
    /* border: solid 4px #731E00; */
}

.title h1 {
    line-height: 4.5rem;
}

.title .title-line {
    display: inline-block;
    position: relative;
    top: -2rem;
}

@media only screen and (max-width:600px) {
    .title .title-line{
        display: block;
        width: 80vw;
        left: -4rem;
        overflow: hidden;
    }
}

.intro {
    display: flex;
}


