div {
    line-height: normal;
}

.title svg {
    transform-origin: 0 50%;
    transform: scale(0.8);
}
.title-line {
    padding-left: 0;
}

section {
    margin-top: 3rem;
}

.general-style {
    margin-top: 0.8rem;
}

.general-style .color {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem ;
}
.general-style .color div{
    width: 10rem;
    height: 6rem;
}
.general-style .color p{
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 1rem;
    color: white;
}
.blue-black {
    background-color: #3A4E80;
}
.blue {
    background-color: #1F40B8;
}
.orange {
    background-color: #E28A24;
}
.yellow {
    background-color: #FFE7AA;
}
.color .yellow p {
    color: #3A4E80;
}

.general-style img {
    height: 21rem;
}

@media only screen and (max-width:600px) {
    .general-style {
        margin-top: 2.3rem;
    }
}

.style-element{
    margin-top: 2.9rem;
    padding-left: 2rem;
    /* border: 1px solid greenyellow; */
}

.h3-title:first-child {
    transform: translateX(-2rem);
}

.style-element .link-nav {
    padding-right: 2rem;
}

.style-element h1 {
    line-height: 6rem;
}

.notes {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    min-height: 21rem;
}

.notes .note-small{
   flex-shrink: 0;
}