
.title svg {
    transform-origin: 0 50%;
    transform: scale(0.8);
}
.title-line {
    padding-left: 0;
}

section {
    margin-top: 3rem;
}

.text-elements {
    margin-top: 0.8rem;
}
@media only screen and (max-width:600px) {
    .text-elements {
        margin-top: 2.3rem;
    }
}

.style-element{
    margin-top: 2.9rem;
    padding-left: 2rem;
    /* border: 1px solid greenyellow; */
}

.h3-title:first-child {
    transform: translateX(-2rem);
}

.style-element .link-nav {
    padding-right: 2rem;
}

.style-element h1 {
    line-height: 6rem;
}

.notes {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    min-height: 21rem;
}

.notes .note-small{
   flex-shrink: 0;
}