/* temporary working space */

.menu-toggle {
    /* todo: https://blog.csdn.net/youhebuke225/article/details/126937520 */
    position:sticky;
    /* background-color: #fff; */
    margin-top: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.wrapper-for-bg {
    overflow-x: hidden;
}